body {
  font-size: 20px;
  margin-right: 5%;
}

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}

pre {
  background-color: silver;
  font-size: 110%;
  border-color: black;
  padding: 5px;
  border-width: thin;
  border-style: solid;
  text-align: left;
}
